@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	width: 100dvw;
	overflow-x: hidden;
	background-color: #f9f9f9;
	--sb-track-color: #222222;
	--sb-thumb-color: #141dea;
	--sb-size: 7px;
}

body::-webkit-scrollbar {
	width: var(--sb-size);
}

body::-webkit-scrollbar-track {
	background: var(--sb-track-color);
}

body::-webkit-scrollbar-thumb {
	background: var(--sb-thumb-color);
	border-radius: 5px;
}

@supports not selector(::-webkit-scrollbar) {
	body {
		scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
	}
}

h1,
h2,
h3 {
	font-family: "Unbounded", sans-serif;
}

@layer base {
	@font-face {
		font-family: "satoshi-medium";
		src: url("/fonts/satoshi-medium.woff2") format("woff2");
	}
	@font-face {
		font-family: "satoshi-regular";
		src: url("/fonts/satoshi-regular.woff2") format("woff2");
	}
	@font-face {
		font-family: "satoshi-black";
		src: url("/fonts/satoshi-black.woff2") format("woff2");
	}
	@font-face {
		font-family: "bitx";
		src: url("/fonts/bitx.woff2") format("woff2");
	}
}

@layer utilities {
	.wrapper {
		@apply max-w-[1800px] mx-auto px-[1rem];
	}
	.clip-path {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}
}
